<link rel="stylesheet" href="/css/user_profile.css">

<body> 
<img style="position: relative;
left: 2%;
top: 2%;border:4px solid #d1ddf1;"src="<%= user.avatar %>" alt="<%= user.name %>" width="100">


 <div class="pdiv"> 
<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <label for="fname" style="font-size: 25px;font-family:cursive"> Name</label><br>
          
        <input id="fname" type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
         
        <label for="femail" style="font-size: 25px;font-family:cursive"> Email </label><br>
         
        <input  id="femail" type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        &nbsp;
        <input type="file" name="avatar" placeholder="Profile Picture">
        &nbsp;
        <input type="submit"  value="Update">
    </form>
    
<%}else{%>    
    <!-- else show only the profile info -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<%} %>
</div>
</body>